In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import csv
import os

In [2]:
# Initialize the master DataFrame
master_df = pd.read_csv("ZIPdf.csv")
master_df.rename(columns={"Unnamed: 0" : "ZIP"}, inplace=True)
master_df["ZIP"] = master_df["ZIP"].astype(str).str.zfill(5)
master_df.set_index("ZIP", inplace=True)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Black Share,Hisp Share,Asian Share,Native Share,White Share,Total Pop,STCOUNTYFP,W_Avg Emp Min Share,W_Avg Emp Black Share,W_Avg Emp White Share,W_Avg Emp Asian Share,W_Avg Emp Hisp Share,W_Avg Emp Non-Hisp Share
ZIP,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['36103'],0.149040,NaN,0.859492,0.083086,0.056364,0.892998
00601,NaN,NaN,NaN,NaN,0.997854,0.000058,0.996694,0.000000,0.002146,0.00000,17242.0,"['72001', '72113']",NaN,NaN,NaN,NaN,NaN,NaN
00602,NaN,NaN,NaN,NaN,0.994327,0.000266,0.992809,0.000266,0.005673,0.00008,37548.0,"['72003', '72005']",NaN,NaN,NaN,NaN,NaN,NaN
00603,NaN,NaN,NaN,NaN,0.988274,0.001606,0.983776,0.000984,0.011726,0.00010,49804.0,"['72005', '72071']",NaN,NaN,NaN,NaN,NaN,NaN
00606,NaN,NaN,NaN,NaN,0.994809,0.000200,0.993013,0.000399,0.005191,0.00000,5009.0,"['72093', '72153']",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['53063'],0.061404,NaN,0.852339,0.029630,0.020760,0.864522
99256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['53063'],0.061404,NaN,0.852339,0.029630,0.020760,0.864522
99529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['02020'],0.135079,0.015303,0.751177,0.072248,0.027810,0.826074
99599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['02020'],0.135079,0.015303,0.751177,0.072248,0.027810,0.826074
99811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['02110'],0.090052,NaN,0.784293,0.031414,NaN,0.797906

# PPP ZIP Data

In [3]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "PPP Files.csv")
file_df

                               File  Completed
0       public_150k_plus_230630.csv          0
1    public_up_to_150k_1_230630.csv          0
2    public_up_to_150k_2_230630.csv          0
3    public_up_to_150k_3_230630.csv          0
4    public_up_to_150k_4_230630.csv          0
5    public_up_to_150k_5_230630.csv          0
6    public_up_to_150k_6_230630.csv          0
7    public_up_to_150k_7_230630.csv          0
8    public_up_to_150k_8_230630.csv          0
9    public_up_to_150k_9_230630.csv          0
10  public_up_to_150k_10_230630.csv          0
11  public_up_to_150k_11_230630.csv          0
12  public_up_to_150k_12_230630.csv          0

In [4]:
def assign_value_based_on_date(date):
    if date < pd.Timestamp('2020-04-17'):
        return '_1'
    elif date < pd.Timestamp('2020-08-09'):
        return '_2'
    else:
        return '_3'
traunches = ["_1", "_2", "_3"]

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
master_df["Number of Loans_1"] = 0
master_df["Total Loans Amount_1"] = 0
master_df["Total Employees_1"] = 0

master_df["Number of Loans_2"] = 0
master_df["Total Loans Amount_2"] = 0
master_df["Total Employees_2"] = 0

master_df["Number of Loans_3"] = 0
master_df["Total Loans Amount_3"] = 0
master_df["Total Employees_3"] = 0

In [7]:
for file in file_df[file_df["Completed"] == 0]["File"]:
    file_name = base + file
    # Check if file exists
    if not os.path.exists(file_name):
        print(f"File {file_name} does not exist. Skipping...")
        continue

    print(f"Processing {file}...")
    
    # Read file row by row since cannot fit in DF
    chunk_size = 80000
    for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['NonProfit', 
                                                                           'BusinessType', 
                                                                           'NAICSCode', 
                                                                           'BorrowerZip', 
                                                                           'DateApproved', 
                                                                           'InitialApprovalAmount', 
                                                                           'JobsReported']):
        # Filter chunk to only needed observations
        chunk = chunk[chunk["NonProfit"] != "Y"]
        chunk = chunk[~chunk["BusinessType"].isin(["Sole Proprietorship",
                                                   "Independent Contractors",
                                                   "Self-Employed Individuals"])]
        chunk = chunk[~chunk["NAICSCode"].isin([999990])]
        #chunk = chunk[chunk["NAICSCode"].notnull()]
        chunk.dropna(subset=["BorrowerZip"], inplace=True)

        # Edit chunk to include necessary info
        chunk["DateApproved"] = pd.to_datetime(chunk["DateApproved"])
        chunk["Traunch"] = chunk["DateApproved"].apply(assign_value_based_on_date)
        chunk["BorrowerZip"] = chunk["BorrowerZip"].astype(str).str[:5]
            
        # Aggregate Data
        grouped = chunk.groupby(['BorrowerZip', 'Traunch']).agg({
                'InitialApprovalAmount': 'sum',
                'JobsReported': 'sum',
                'Traunch': 'size'  # Count of loans
            })

        # Update master_df
        for (zip_, traunch), row in grouped.iterrows():
            if zip_ in master_df.index:
                master_df.loc[zip_, f"Number of Loans{traunch}"] += row['Traunch']  # Update the number of loans
                master_df.loc[zip_, f"Total Loans Amount{traunch}"] += row['InitialApprovalAmount']
                master_df.loc[zip_, f"Total Employees{traunch}"] += row['JobsReported'] 
            else:
                # Create a new row filled with NaNs but update the relevant columns
                new_row = pd.Series(name=zip_, dtype='float64')  # Create a Series with name set to the ZIP code
                new_row[f"Number of Loans{traunch}"] = row['Traunch']
                new_row[f"Total Loans Amount{traunch}"] = row['InitialApprovalAmount']
                new_row[f"Total Employees{traunch}"] = row['JobsReported']
        
                # Append the new row to the master DataFrame
                master_df = master_df.append(new_row)
                #print("Created new row for ZIP code: " + zip_)
                        
    file_df.loc[file_df["File"] == file, "Completed"] = 1
    
    print(f"Updated master DataFrame with data from {file}.")
    
    # Ask for user confirmation to proceed to the next file
#     user_input = input("Do you want to continue with the next file? (y/n): ")
#     if user_input.lower() != 'y':
#         print("Stopping the process.")
        # Save the master DataFrame to disk
master_df.to_csv('ZIPdf.csv')
file_df.to_csv(base + "PPP Files.csv", index=False)
        #break

Processing public_150k_plus_230630.csv...
Updated master DataFrame with data from public_150k_plus_230630.csv.
Processing public_up_to_150k_1_230630.csv...
Updated master DataFrame with data from public_up_to_150k_1_230630.csv.
Processing public_up_to_150k_2_230630.csv...
Updated master DataFrame with data from public_up_to_150k_2_230630.csv.
Processing public_up_to_150k_3_230630.csv...
Updated master DataFrame with data from public_up_to_150k_3_230630.csv.
Processing public_up_to_150k_4_230630.csv...
Updated master DataFrame with data from public_up_to_150k_4_230630.csv.
Processing public_up_to_150k_5_230630.csv...
Updated master DataFrame with data from public_up_to_150k_5_230630.csv.
Processing public_up_to_150k_6_230630.csv...
Updated master DataFrame with data from public_up_to_150k_6_230630.csv.
Processing public_up_to_150k_7_230630.csv...
Updated master DataFrame with data from public_up_to_150k_7_230630.csv.
Processing public_up_to_150k_8_230630.csv...
Updated master DataFrame with data from public_up_to_150k_8_230630.csv.
Processing public_up_to_150k_9_230630.csv...
Updated master DataFrame with data from public_up_to_150k_9_230630.csv.
Processing public_up_to_150k_10_230630.csv...
Updated master DataFrame with data from public_up_to_150k_10_230630.csv.
Processing public_up_to_150k_11_230630.csv...
Updated master DataFrame with data from public_up_to_150k_11_230630.csv.
Processing public_up_to_150k_12_230630.csv...
Updated master DataFrame with data from public_up_to_150k_12_230630.csv.

In [8]:
master_df["Total Loans"] = master_df["Number of Loans_1"].add(master_df["Number of Loans_2"], fill_value = 0).add(master_df["Number of Loans_3"], fill_value = 0)
master_df["Total Loan Amount"] = master_df["Total Loans Amount_1"].add(master_df["Total Loans Amount_2"], fill_value = 0).add(master_df["Total Loans Amount_3"], fill_value = 0)
master_df["Total Employees"] = master_df["Total Employees_1"].add(master_df["Total Employees_2"], fill_value = 0).add(master_df["Total Employees_3"], fill_value = 0)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Black Share,Hisp Share,Asian Share,Native Share,White Share,...,Total Employees_1,Number of Loans_2,Total Loans Amount_2,Total Employees_2,Number of Loans_3,Total Loans Amount_3,Total Employees_3,Total Loans,Total Loan Amount,Total Employees
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0
00601,NaN,NaN,NaN,NaN,0.997854,0.000058,0.996694,0.000000,0.002146,0.00000,...,117.0,43.0,846924.57,335.0,36.0,786849.32,341.0,81.0,1962033.89,793.0
00602,NaN,NaN,NaN,NaN,0.994327,0.000266,0.992809,0.000266,0.005673,0.00008,...,601.0,162.0,4301386.61,1381.0,119.0,3907995.21,1131.0,300.0,10408277.68,3113.0
00603,NaN,NaN,NaN,NaN,0.988274,0.001606,0.983776,0.000984,0.011726,0.00010,...,1266.0,239.0,7976491.54,2700.0,162.0,8897252.89,2606.0,423.0,21958044.43,6572.0
00606,NaN,NaN,NaN,NaN,0.994809,0.000200,0.993013,0.000399,0.005191,0.00000,...,3.0,7.0,109067.00,42.0,5.0,84750.00,28.0,13.0,198617.00,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,25015.00,2.0,NaN,NaN,NaN,1.0,25015.00,2.0
54704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,45612.00,6.0,NaN,NaN,NaN,1.0,45612.00,6.0
54860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,22200.00,3.0,NaN,NaN,NaN,1.0,22200.00,3.0
57971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,18500.00,6.0,NaN,NaN,NaN,1.0,18500.00,6.0
54894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,3075.00,1.0,NaN,NaN,NaN,1.0,3075.00,1.0

In [9]:
master_df[["Number of Loans_1",
           "Total Loans Amount_1",
           "Total Employees_1",
           "Number of Loans_2",
           "Total Loans Amount_2",
           "Total Employees_2", 
           "Number of Loans_3",
           "Total Loans Amount_3",
           "Total Employees_3",
           "Total Loans",
           "Total Loan Amount",
           "Total Employees"]] = master_df[["Number of Loans_1",
           "Total Loans Amount_1",
           "Total Employees_1",
           "Number of Loans_2",
           "Total Loans Amount_2",
           "Total Employees_2", 
           "Number of Loans_3",
           "Total Loans Amount_3",
           "Total Employees_3",
           "Total Loans",
           "Total Loan Amount",
           "Total Employees"]].fillna(0)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Black Share,Hisp Share,Asian Share,Native Share,White Share,...,Total Employees_1,Number of Loans_2,Total Loans Amount_2,Total Employees_2,Number of Loans_3,Total Loans Amount_3,Total Employees_3,Total Loans,Total Loan Amount,Total Employees
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0
00601,NaN,NaN,NaN,NaN,0.997854,0.000058,0.996694,0.000000,0.002146,0.00000,...,117.0,43.0,846924.57,335.0,36.0,786849.32,341.0,81.0,1962033.89,793.0
00602,NaN,NaN,NaN,NaN,0.994327,0.000266,0.992809,0.000266,0.005673,0.00008,...,601.0,162.0,4301386.61,1381.0,119.0,3907995.21,1131.0,300.0,10408277.68,3113.0
00603,NaN,NaN,NaN,NaN,0.988274,0.001606,0.983776,0.000984,0.011726,0.00010,...,1266.0,239.0,7976491.54,2700.0,162.0,8897252.89,2606.0,423.0,21958044.43,6572.0
00606,NaN,NaN,NaN,NaN,0.994809,0.000200,0.993013,0.000399,0.005191,0.00000,...,3.0,7.0,109067.00,42.0,5.0,84750.00,28.0,13.0,198617.00,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,25015.00,2.0,0.0,0.00,0.0,1.0,25015.00,2.0
54704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,45612.00,6.0,0.0,0.00,0.0,1.0,45612.00,6.0
54860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,22200.00,3.0,0.0,0.00,0.0,1.0,22200.00,3.0
57971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,18500.00,6.0,0.0,0.00,0.0,1.0,18500.00,6.0
54894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,3075.00,1.0,0.0,0.00,0.0,1.0,3075.00,1.0

In [10]:
master_df["Loans per Emp Bus"] = master_df["Total Loans"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp"] = master_df["Total Loan Amount"] / master_df["CBP Emp"]
master_df["Loans per Emp Bus_1"] = master_df["Number of Loans_1"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_1"] = master_df["Total Loans Amount_1"] / master_df["CBP Emp"]
master_df["Loans per Emp Bus_2"] = master_df["Number of Loans_2"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_2"] = master_df["Total Loans Amount_2"] / master_df["CBP Emp"]
master_df["Loans per Emp Bus_3"] = master_df["Number of Loans_3"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_3"] = master_df["Total Loans Amount_3"] / master_df["CBP Emp"]
master_df.replace([np.inf, -np.inf], np.nan, inplace=True)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Black Share,Hisp Share,Asian Share,Native Share,White Share,...,Total Loan Amount,Total Employees,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00601,NaN,NaN,NaN,NaN,0.997854,0.000058,0.996694,0.000000,0.002146,0.00000,...,1962033.89,793.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00602,NaN,NaN,NaN,NaN,0.994327,0.000266,0.992809,0.000266,0.005673,0.00008,...,10408277.68,3113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00603,NaN,NaN,NaN,NaN,0.988274,0.001606,0.983776,0.000984,0.011726,0.00010,...,21958044.43,6572.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00606,NaN,NaN,NaN,NaN,0.994809,0.000200,0.993013,0.000399,0.005191,0.00000,...,198617.00,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25015.00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45612.00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22200.00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18500.00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3075.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
master_df.to_csv('ZIPdf.csv')

# EIDL Advance ZIP Data

In [12]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "EIDL Advance Files.csv")
file_df

                                 File  Completed
0  01 EIDL Advance through 111520.csv          0
1  02 EIDL Advance through 111520.csv          0
2  03 EIDL Advance through 111520.csv          0
3  04 EIDL Advance through 111520.csv          0
4  05 EIDL Advance through 111520.csv          0
5  06 EIDL Advance through 111520.csv          0
6  07 EIDL Advance through 111520.csv          0

In [13]:
master_df[["Number of Advs EIDLA", "Total Advs Amount EIDLA"]] = 0

In [14]:
for file in file_df[file_df["Completed"] == 0]["File"]:
    file_name = base + file
    # Check if file exists
    if not os.path.exists(file_name):
        print(f"File {file_name} does not exist. Skipping...")
        continue

    print(f"Processing {file}...")

    chunk_size = 150000

    for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['LEGALENTITYZIP5', 
                                                                       'FEDERALACTIONOBLIGATION',
                                                                       'ACTIONTYPE']):
        chunk.dropna(subset=["LEGALENTITYZIP5"], inplace=True)
    
        # Edit chunk to include necessary info
        chunk["LEGALENTITYZIP5"] = chunk["LEGALENTITYZIP5"].astype(str).str.zfill(5)
            # The data for advances contains instances where funds were returned by banks or rescinded by the 
            # government after too much was awarded. These negative values are important to the sum of funding 
            # recieved, but need to be accounted for when obtaining counts of advances 
        chunk['Adv_Count'] = chunk['ACTIONTYPE'].apply(lambda x: 1 if x == "A" else 0)
    
        # Aggregate Data
        grouped = chunk.groupby(['LEGALENTITYZIP5']).agg({
            'FEDERALACTIONOBLIGATION': 'sum',
            'Adv_Count': 'sum'  # Sum of Adv_Count will give the adjusted count of loans
        })
    
        # Update master_df
        for zip_, row in grouped.iterrows():
            if zip_ in master_df.index:
                master_df.loc[zip_, "Number of Advs EIDLA"] += row['Adv_Count']  # Update the number of loans
                master_df.loc[zip_, "Total Advs Amount EIDLA"] += row['FEDERALACTIONOBLIGATION']
            else:
                # Create a new row filled with NaNs but update the relevant columns
                new_row = pd.Series(name=zip_, dtype='float64')  # Create a Series with name set to the ZIP code
                new_row["Number of Advs EIDLA"] = row['Adv_Count']
                new_row["Total Advs Amount EIDLA"] = row['FEDERALACTIONOBLIGATION']
        
                # Append the new row to the master DataFrame
                master_df = master_df.append(new_row)
                        
    file_df.loc[file_df["File"] == file, "Completed"] = 1
    
    print(f"Updated master DataFrame with data from {file}.")
    
master_df.to_csv('ZIPdf.csv')
file_df.to_csv(base + "EIDL Advance Files.csv", index=False)

Processing 01 EIDL Advance through 111520.csv...
Updated master DataFrame with data from 01 EIDL Advance through 111520.csv.
Processing 02 EIDL Advance through 111520.csv...
Updated master DataFrame with data from 02 EIDL Advance through 111520.csv.
Processing 03 EIDL Advance through 111520.csv...
Updated master DataFrame with data from 03 EIDL Advance through 111520.csv.
Processing 04 EIDL Advance through 111520.csv...
Updated master DataFrame with data from 04 EIDL Advance through 111520.csv.
Processing 05 EIDL Advance through 111520.csv...
Updated master DataFrame with data from 05 EIDL Advance through 111520.csv.
Processing 06 EIDL Advance through 111520.csv...
Updated master DataFrame with data from 06 EIDL Advance through 111520.csv.
Processing 07 EIDL Advance through 111520.csv...
Updated master DataFrame with data from 07 EIDL Advance through 111520.csv.

# EIDL Loan ZIP Data

In [15]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "EIDL Loan Files.csv")
file_df

                                       File  Completed
0  DATAACT_EIDL_LOANS_20200401-20200609.csv          0
1  DATAACT_EIDL_LOANS_20200610-20200625.csv          0
2  DATAACT_EIDL_LOANS_20200626-20200723.csv          0
3  DATAACT_EIDL_LOANS_20200724-20201115.csv          0
4            DATAACT_EIDL_LOANS_DMCS2.0.csv          0

In [16]:
master_df[["Number of Loans EIDLL", "Total Loan Amount EIDLL"]] = 0

In [17]:
for file in file_df[file_df["Completed"] == 0]["File"]:
    file_name = base + file
    # Check if file exists
    if not os.path.exists(file_name):
        print(f"File {file_name} does not exist. Skipping...")
        continue

    print(f"Processing {file}...")
    
    # Read file row by row since cannot fit in DF
    chunk_size = 160000
    for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['LEGALENTITYZIP5', 
                                                                       'FACEVALUEOFDIRECTLOANORLOANGUARANTEE', 
                                                                       'FAIN',
                                                                       'ACTIONTYPE']):
        chunk.dropna(subset=["LEGALENTITYZIP5"], inplace=True)

        # Edit chunk to include necessary info
        chunk["LEGALENTITYZIP5"] = chunk["LEGALENTITYZIP5"].astype(str).str.zfill(5)
        chunk['Loan_Count'] = chunk['ACTIONTYPE'].apply(lambda x: 1 if x == "A" else 0)
        
        # Aggregate Data
        grouped = chunk.groupby(['LEGALENTITYZIP5']).agg({
                'FACEVALUEOFDIRECTLOANORLOANGUARANTEE': 'sum',
                'Loan_Count': 'size'  # Count of loans
            })

        # Update master_df
        for zip_, row in grouped.iterrows():
            if zip_ in master_df.index:
                master_df.loc[zip_, "Number of Loans EIDLL"] += row['Loan_Count']  # Update the number of loans
                master_df.loc[zip_, "Total Loan Amount EIDLL"] += row['FACEVALUEOFDIRECTLOANORLOANGUARANTEE']
            else:
                # Create a new row filled with NaNs but update the relevant columns
                new_row = pd.Series(name=zip_, dtype='float64')  # Create a Series with name set to the ZIP code
                new_row["Number of Loans EIDLL"] = row['Loan_Count']
                new_row["Total Loan Amount EIDLL"] = row['FACEVALUEOFDIRECTLOANORLOANGUARANTEE']
        
                # Append the new row to the master DataFrame
                master_df = master_df.append(new_row)
                #print("Created new row for ZIP code: " + zip_)
                        
    file_df.loc[file_df["File"] == file, "Completed"] = 1
    
    print(f"Updated master DataFrame with data from {file}.")
    
    # Ask for user confirmation to proceed to the next file
#     user_input = input("Do you want to continue with the next file? (y/n): ")
#     if user_input.lower() != 'y':
#         print("Stopping the process.")
        # Save the master DataFrame to disk
master_df.to_csv('ZIPdf.csv')
file_df.to_csv(base + "EIDL Loan Files.csv", index=False)
        #break

Processing DATAACT_EIDL_LOANS_20200401-20200609.csv...
Updated master DataFrame with data from DATAACT_EIDL_LOANS_20200401-20200609.csv.
Processing DATAACT_EIDL_LOANS_20200610-20200625.csv...
Updated master DataFrame with data from DATAACT_EIDL_LOANS_20200610-20200625.csv.
Processing DATAACT_EIDL_LOANS_20200626-20200723.csv...
Updated master DataFrame with data from DATAACT_EIDL_LOANS_20200626-20200723.csv.
Processing DATAACT_EIDL_LOANS_20200724-20201115.csv...
Updated master DataFrame with data from DATAACT_EIDL_LOANS_20200724-20201115.csv.
Processing DATAACT_EIDL_LOANS_DMCS2.0.csv...
Updated master DataFrame with data from DATAACT_EIDL_LOANS_DMCS2.0.csv.

# EIDL Post Nov-15 2020

In [18]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "EIDL Post Nov 20.csv")
file_df

                                                 File  Completed
0   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
1   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
2   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
3   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
4   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
5   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
6   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
7   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
8   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
9   All_Assistance_PrimeTransactions_2023-09-09_H2...          0
10  All_Assistance_PrimeTransactions_2023-09-09_H2...          0
11  All_Assistance_PrimeTransactions_2023-09-09_H2...          0

In [22]:
for file in file_df[file_df["Completed"] == 0]["File"]:
    file_name = base + file
    # Check if file exists
    if not os.path.exists(file_name):
        print(f"File {file_name} does not exist. Skipping...")
        continue

    print(f"Processing {file}...")
    
    # Read file row by row since cannot fit in DF
    chunk_size = 160000
    for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['cfda_number', 
                                                                      'action_type_code', 
                                                                      'federal_action_obligation',
                                                                      'face_value_of_loan',
                                                                      'disaster_emergency_fund_codes_for_overall_award',
                                                                      'recipient_zip_code']):
        # Filter chunk to only needed observations
        chunk["disaster_emergency_fund_codes_for_overall_award"] = chunk[
            "disaster_emergency_fund_codes_for_overall_award"].astype(str).str[0]
        chunk = chunk[chunk["disaster_emergency_fund_codes_for_overall_award"].isin(["L","M","N","O","P","U","V"])]
        chunk.dropna(subset=["recipient_zip_code"], inplace=True)
        chunk["recipient_zip_code"] = chunk["recipient_zip_code"].astype(str).str.zfill(5)
        chunk["Count"] = chunk['action_type_code'].apply(lambda x: 1 if x == "A" else 0)
    
        chunk_l = chunk[chunk["cfda_number"].astype(np.double) == 59.072]
        chunk_a = chunk[chunk["cfda_number"].astype(np.double) == 59.008]

        
        # Aggregate Data
        grouped_l = chunk.groupby(['recipient_zip_code']).agg({
                'face_value_of_loan': 'sum',
                'Count': 'sum'  # Count of loans
            })
        grouped_a = chunk.groupby(['recipient_zip_code']).agg({
                'federal_action_obligation': 'sum',
                'Count': 'sum'  # Count of advs
            })
        
        combined_df = pd.merge(grouped_l, grouped_a, on='recipient_zip_code', how='outer', suffixes=('_loan', '_adv'))
        combined_df.fillna(0, inplace=True)
        
        # Update master_df
        for zip_, row in combined_df.iterrows():
            if zip_ in master_df.index:
                master_df.loc[zip_, "Number of Loans EIDLL"] += row['Count_loan']  # Update the number of loans
                master_df.loc[zip_, "Total Loan Amount EIDLL"] += row['face_value_of_loan']
                master_df.loc[zip_, "Number of Advs EIDLA"] += row['Count_adv']  # Update the number of advs
                master_df.loc[zip_, "Total Advs Amount EIDLA"] += row['federal_action_obligation']
            else:
                # Create a new row filled with NaNs but update the relevant columns
                new_row = pd.Series(name=zip_, dtype='float64')  # Create a Series with name set to the ZIP code
                new_row["Number of Loans EIDLL"] = row['Count_loan']
                new_row["Total Loan Amount EIDLL"] = row['face_value_of_loan']
                new_row["Number of Advs EIDLA"] = row['Count_adv']
                new_row["Total Advs Amount EIDLA"] = row['federal_action_obligation']
        
                # Append the new row to the master DataFrame
                master_df = master_df.append(new_row)
                #print("Created new row for ZIP code: " + zip_)
                        
    file_df[file_df["File"] == file]["Completed"] = 1
    
    print(f"Updated master DataFrame with data from {file}.")

master_df.to_csv('ZIPdf.csv')
file_df.to_csv(base + "EIDL Post Nov 20.csv", index=False)

Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S45_1.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S45_1.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S45_2.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S45_2.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_1.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_1.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_2.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_2.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_3.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_3.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_4.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_4.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_5.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_5.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_6.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_6.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_7.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_7.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_8.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_8.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_9.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_9.csv.
Processing All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_10.csv...
Updated master DataFrame with data from All_Assistance_PrimeTransactions_2023-09-09_H22M03S55_10.csv.

In [23]:
master_df[["Number of Advs EIDLA",
           "Total Advs Amount EIDLA"]] = master_df[["Number of Advs EIDLA",
                                            "Total Advs Amount EIDLA"]].fillna(0)

In [24]:
master_df[["Number of Loans EIDLL",
           "Total Loan Amount EIDLL"]] = master_df[["Number of Loans EIDLL",
                                            "Total Loan Amount EIDLL"]].fillna(0)

In [25]:
master_df["EIDL Loans per Emp Bus"] = master_df["Number of Loans EIDLL"] / master_df["Total Emp Bus"]
master_df["Avg EIDL Loan Amt per Emp"] = master_df["Total Loan Amount EIDLL"] / master_df["CBP Emp"]
master_df.replace([np.inf, -np.inf], np.nan, inplace=True)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Black Share,Hisp Share,Asian Share,Native Share,White Share,...,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3,Number of Advs EIDLA,Total Advs Amount EIDLA,Number of Loans EIDLL,Total Loan Amount EIDLL,EIDL Loans per Emp Bus,Avg EIDL Loan Amt per Emp
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.0
00601,NaN,NaN,NaN,NaN,0.997854,0.000058,0.996694,0.000000,0.002146,0.00000,...,NaN,NaN,NaN,NaN,213.0,866305.00,221.0,7796006.32,NaN,NaN
00602,NaN,NaN,NaN,NaN,0.994327,0.000266,0.992809,0.000266,0.005673,0.00008,...,NaN,NaN,NaN,NaN,970.0,3787980.00,1048.0,43534758.87,NaN,NaN
00603,NaN,NaN,NaN,NaN,0.988274,0.001606,0.983776,0.000984,0.011726,0.00010,...,NaN,NaN,NaN,NaN,1142.0,3503701.77,1208.0,54333621.34,NaN,NaN
00606,NaN,NaN,NaN,NaN,0.994809,0.000200,0.993013,0.000399,0.005191,0.00000,...,NaN,NaN,NaN,NaN,30.0,38000.00,30.0,564270.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,12500.00,NaN,NaN
29143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.00,1.0,20075.00,NaN,NaN
33072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.00,1.0,20833.00,NaN,NaN
70891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,0.00,2.0,32822.00,NaN,NaN
97256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.00,1.0,150000.00,NaN,NaN

In [26]:
master_df["Advs per Emp Bus"] = master_df["Number of Advs EIDLA"] / master_df["Total Emp Bus"]
master_df["Avg Adv Amt per Emp"] = master_df["Total Advs Amount EIDLA"] / master_df["CBP Emp"]
master_df.replace([np.inf, -np.inf], np.nan, inplace=True)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Black Share,Hisp Share,Asian Share,Native Share,White Share,...,Loans per Emp Bus_3,Avg Loan Amt per Emp_3,Number of Advs EIDLA,Total Advs Amount EIDLA,Number of Loans EIDLL,Total Loan Amount EIDLL,EIDL Loans per Emp Bus,Avg EIDL Loan Amt per Emp,Advs per Emp Bus,Avg Adv Amt per Emp
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0
00601,NaN,NaN,NaN,NaN,0.997854,0.000058,0.996694,0.000000,0.002146,0.00000,...,NaN,NaN,213.0,866305.00,221.0,7796006.32,NaN,NaN,NaN,NaN
00602,NaN,NaN,NaN,NaN,0.994327,0.000266,0.992809,0.000266,0.005673,0.00008,...,NaN,NaN,970.0,3787980.00,1048.0,43534758.87,NaN,NaN,NaN,NaN
00603,NaN,NaN,NaN,NaN,0.988274,0.001606,0.983776,0.000984,0.011726,0.00010,...,NaN,NaN,1142.0,3503701.77,1208.0,54333621.34,NaN,NaN,NaN,NaN
00606,NaN,NaN,NaN,NaN,0.994809,0.000200,0.993013,0.000399,0.005191,0.00000,...,NaN,NaN,30.0,38000.00,30.0,564270.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.00,0.0,12500.00,NaN,NaN,NaN,NaN
29143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.00,1.0,20075.00,NaN,NaN,NaN,NaN
33072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.00,1.0,20833.00,NaN,NaN,NaN,NaN
70891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,0.00,2.0,32822.00,NaN,NaN,NaN,NaN
97256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.00,1.0,150000.00,NaN,NaN,NaN,NaN

# Stats

In [27]:
master_df.describe()

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Black Share,Hisp Share,Asian Share,Native Share,White Share,...,Loans per Emp Bus_3,Avg Loan Amt per Emp_3,Number of Advs EIDLA,Total Advs Amount EIDLA,Number of Loans EIDLL,Total Loan Amount EIDLL,EIDL Loans per Emp Bus,Avg EIDL Loan Amt per Emp,Advs per Emp Bus,Avg Adv Amt per Emp
count,32109.000000,35052.000000,35052.000000,37322.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,...,37322.000000,35049.000000,59871.000000,5.987100e+04,59871.000000,5.987100e+04,37322.000000,3.504900e+04,37322.000000,35049.000000
mean,61.825968,227.137111,3638.925140,266.512513,0.263090,0.073105,0.104150,0.023165,0.736910,0.017748,...,0.151440,2300.649422,237.180572,1.180724e+06,203.522974,1.151551e+07,0.901431,1.217018e+04,1.044215,713.805504
std,88.443966,406.851597,8085.098199,414.475046,0.248661,0.148541,0.163993,0.057624,0.248661,0.092316,...,0.140103,5336.620501,695.536915,6.052825e+06,579.594951,3.357543e+07,1.214319,2.854758e+04,1.448152,4670.004602
min,1.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,-3.863210e+06,0.000000,-2.971700e+04,0.000000,0.000000
25%,9.000000,11.000000,80.000000,24.000000,0.076952,0.002643,0.018634,0.001500,0.625929,0.000821,...,0.050000,576.960525,0.000000,0.000000e+00,2.000000,1.275494e+05,0.378472,2.978464e+03,0.443684,134.453782
50%,31.000000,41.000000,423.000000,90.000000,0.162887,0.010017,0.040991,0.005085,0.837113,0.002203,...,0.126214,1421.542625,7.000000,9.000000e+03,16.000000,8.350000e+05,0.671111,5.952343e+03,0.777955,315.789474
75%,78.000000,255.000000,3367.000000,326.000000,0.374071,0.063405,0.107638,0.017196,0.923048,0.005195,...,0.227273,2574.140499,116.000000,2.150000e+05,102.000000,4.723354e+06,1.025360,1.160759e+04,1.195652,666.666667
max,1634.000000,6893.000000,177226.000000,6897.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,3.000000,424102.500000,18353.000000,6.819179e+08,15323.000000,1.180599e+09,36.666667,1.371031e+06,49.750000,521605.008571

In [28]:
master_df[~master_df["Min Share"].isnull()].describe()

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Black Share,Hisp Share,Asian Share,Native Share,White Share,...,Loans per Emp Bus_3,Avg Loan Amt per Emp_3,Number of Advs EIDLA,Total Advs Amount EIDLA,Number of Loans EIDLL,Total Loan Amount EIDLL,EIDL Loans per Emp Bus,Avg EIDL Loan Amt per Emp,Advs per Emp Bus,Avg Adv Amt per Emp
count,29574.000000,30771.000000,30771.000000,32638.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,...,32638.000000,30771.000000,33631.000000,3.363100e+04,33631.000000,3.363100e+04,32638.000000,3.077100e+04,32638.000000,30771.000000
mean,66.360283,256.658022,4069.889571,302.106839,0.263090,0.073105,0.104150,0.023165,0.736910,0.017748,...,0.166376,2503.970525,421.307306,2.091945e+06,355.703934,1.995005e+07,0.992214,1.313595e+04,1.150627,732.362334
std,90.643775,425.862046,8515.727201,431.575897,0.248661,0.148541,0.163993,0.057624,0.248661,0.092316,...,0.135005,4765.052984,885.162436,7.951996e+06,738.054737,4.290880e+07,1.259267,2.937014e+04,1.505899,2932.896109
min,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,-6.493437e+05,0.000000,-7.370540e+03,0.000000,0.000000
25%,11.000000,15.000000,95.000000,40.000000,0.076952,0.002643,0.018634,0.001500,0.625929,0.000821,...,0.072464,867.355632,22.000000,2.100000e+04,20.000000,6.270416e+05,0.473684,3.677685e+03,0.549772,180.623777
50%,36.000000,59.000000,572.000000,119.000000,0.162887,0.010017,0.040991,0.005085,0.837113,0.002203,...,0.142857,1593.512000,87.000000,1.340000e+05,77.000000,3.011571e+06,0.732838,6.610810e+03,0.846154,358.807922
75%,84.000000,320.000000,4217.500000,394.000000,0.374071,0.063405,0.107638,0.017196,0.923048,0.005195,...,0.239337,2757.000028,419.000000,1.345026e+06,357.000000,1.918053e+07,1.085192,1.246750e+04,1.258065,721.551717
max,1634.000000,6893.000000,177226.000000,6897.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.090909,225840.500000,18353.000000,6.819179e+08,15323.000000,1.180599e+09,36.666667,1.371031e+06,49.750000,426596.850000

In [35]:
stat_df = master_df[~master_df["Min Share"].isnull()][["Min Share",
                                                       "Black Share",
                                                       "White Share",
                                                       "Asian Share",
                                                       "Hisp Share",
                                                       "Native Share",
                                                       "W_Avg Emp Min Share",
                                                       "W_Avg Emp Black Share",
                                                       "W_Avg Emp White Share",
                                                       "W_Avg Emp Asian Share",
                                                       "W_Avg Emp Hisp Share",
                                                       "W_Avg Emp Non-Hisp Share",
                                                       "W_Avg Emp Min Share",
                                                       "W_Avg Emp Min Share",
                                                       "Total Pop",
                                                       "Loans per Emp Bus",
                                                       "Avg Loan Amt per Emp",
                                                       "Loans per Emp Bus_1",
                                                       "Avg Loan Amt per Emp_1",
                                                       "Loans per Emp Bus_2",
                                                       "Avg Loan Amt per Emp_2",
                                                       "Loans per Emp Bus_3",
                                                       "Avg Loan Amt per Emp_3",
                                                       "Number of Advs EIDLA",
                                                       "Total Advs Amount EIDLA",
                                                       "Advs per Emp Bus",
                                                       "Avg Adv Amt per Emp",
                                                       "EIDL Loans per Emp Bus",
                                                       "Avg EIDL Loan Amt per Emp"]]
stat_df.describe()

,Min Share,Black Share,White Share,Asian Share,Hisp Share,Native Share,W_Avg Emp Min Share,W_Avg Emp Black Share,W_Avg Emp White Share,W_Avg Emp Asian Share,...,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3,Number of Advs EIDLA,Total Advs Amount EIDLA,Advs per Emp Bus,Avg Adv Amt per Emp,EIDL Loans per Emp Bus,Avg EIDL Loan Amt per Emp
count,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,15979.000000,8516.000000,29357.000000,12845.000000,...,32638.000000,30771.000000,32638.000000,30771.000000,33631.000000,3.363100e+04,32638.000000,30771.000000,32638.000000,3.077100e+04
mean,0.263090,0.073105,0.017748,0.023165,0.104150,0.736910,0.143364,0.025582,0.794930,0.085347,...,0.156429,1748.918154,0.166376,2503.970525,421.307306,2.091945e+06,1.150627,732.362334,0.992214,1.313595e+04
std,0.248661,0.148541,0.092316,0.057624,0.163993,0.248661,0.103154,0.026230,0.066917,0.068221,...,0.142527,3540.195425,0.135005,4765.052984,885.162436,7.951996e+06,1.505899,2932.896109,1.259267,2.937014e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013952,0.002319,0.357963,0.008291,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,-7.370540e+03
25%,0.076952,0.002643,0.000821,0.001500,0.018634,0.625929,0.071605,0.011043,0.765566,0.042088,...,0.054054,491.124612,0.072464,867.355632,22.000000,2.100000e+04,0.549772,180.623777,0.473684,3.677685e+03
50%,0.162887,0.010017,0.002203,0.005085,0.040991,0.837113,0.110560,0.019286,0.804878,0.062025,...,0.120000,1092.791489,0.142857,1593.512000,87.000000,1.340000e+05,0.846154,358.807922,0.732838,6.610810e+03
75%,0.374071,0.063405,0.005195,0.017196,0.107638,0.923048,0.187418,0.029512,0.837838,0.106005,...,0.232393,2066.431891,0.239337,2757.000028,419.000000,1.345026e+06,1.258065,721.551717,1.085192,1.246750e+04
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.679245,0.304630,0.978261,0.534213,...,4.000000,229710.835000,2.090909,225840.500000,18353.000000,6.819179e+08,49.750000,426596.850000,36.666667,1.371031e+06

In [30]:
def weighted_average(df, values_col, weights_col):
    # Element-wise multiplication, ignoring NaNs
    weighted_values = df[values_col] * df[weights_col]
    
    # Sum of weighted values and weights, ignoring NaNs
    sum_weighted_values = weighted_values.sum(skipna=True)
    sum_weights = df[weights_col].sum(skipna=True)
    
    # Calculate weighted average, returning NaN if not computable
    if sum_weights == 0:
        return np.nan
    else:
        return sum_weighted_values / sum_weights

In [32]:
for column in stat_df.columns:
    if column != "Total Pop":
        print(column)
        sub_data = master_df[~master_df["Min Share"].isnull()][[column, "Total Pop"]]
        print(weighted_average(sub_data, column, "Total Pop"))

Min Share
0.42723896750764817
Black Share
0.11933400473902005
White Share
0.006724129764822398
Asian Share
0.05861855861069842
Hisp Share
0.19516556417182826
Native Share
0.5727610324923519
W_Avg Emp Min Share
0.1442346015537462
W_Avg Emp Black Share
0.014944787172054962
W_Avg Emp White Share
0.7328978332593434
W_Avg Emp Asian Share
0.07553803104477251
W_Avg Emp Hisp Share
0.04269534723950568
W_Avg Emp Non-Hisp Share
0.7848242392247963
W_Avg Emp Min Share
0.1442346015537462
W_Avg Emp Min Share
0.1442346015537462
Loans per Emp Bus
0.6275647208920458
Avg Loan Amt per Emp
5615.9467600594535
Loans per Emp Bus_1
0.13324961447963563
Avg Loan Amt per Emp_1
2298.525102694748
Loans per Emp Bus_2
0.25028823998919236
Avg Loan Amt per Emp_2
1550.4680565464723
Loans per Emp Bus_3
0.24402686642321786
Avg Loan Amt per Emp_3
1766.9536008182338
Number of Advs EIDLA
1451.4735038285844
Total Advs Amount EIDLA
7029998.736716566
Advs per Emp Bus
1.8985402929447805
Avg Adv Amt per Emp
678.4512481657072
EIDL Loans per Emp Bus
1.6001432549234618
Avg EIDL Loan Amt per Emp
7566.438422635384

In [33]:
stat_df.to_csv("Calculations.csv")

In [36]:
master_df.to_csv("ZIPdf.csv")